body {
  font-size: 16px;
}

#map {
    height: 75vh;
}

h1 {
  font-size: 100px;
}

.border {
  border: 2px solid black;
  min-height: 40px;
}

.mapSection {
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 2px black;
}

.prop {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 100px;
}

#individualProps {
  float: right;
  max-height: 75vh;
  overflow-y: scroll;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 990px) {
  #individualProps {
    /*Make this value equal to height of 2 property listings*/
    max-height: 150px;
    margin-bottom: 15px;
  }
}

.footer {
  margin-top: 35px;
}

.amenitiesBar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fullDetails {
  min-height: 500px;
  border-left-style: dashed;
  border-right-style: dashed;
}

.propImg {
  margin-top: 0;
  float: right;
  height: 100%;
}

p {
  float: left;
}

#zillowLoad {
  visibility: hidden;
  display: none;
}
